/* Index Css */

.servicio {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  gap: 32px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.servicio:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.01);
  transition-duration: 0.5s;
}

.servicio h4 {
  color: #2e64a1;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 10px;
}

.servicio p {
  font-size: 15px;
  text-align: justify;
  color: #2e64a1;
}

.servicio img {
  border-radius: 13px;
  display: block;
  max-width: 225px;
}

.servicio:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {

  .servicio {
    display: block;
  }

  .servicio img {
    align-content: center;
    margin: 0 auto;
  }

  .servicio h4 {
    text-align: center;
    margin-top: 10px;
  }


}

/* fin Index Css */

/* inicio Planes */

.container div{
  display: flex;
}

.planes {
  display: flex;
  justify-content: center;
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid;
}

.card:hover{
  background-color: #d6d6d6;
  transform: scale(1.05);
  transition-duration: 0.5s;

}

.tipo {
  display: block;
  text-align: center;
}

.tipo h3 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin: 10px 10px;
  align-content: center;
  border-bottom: 1px solid;
}

.tipo img {
  width: 150px;
  border-radius: 50%;
  margin: 10px;
}

.tipo p {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

.detalle {
  margin: 10px;
}

.detalle ul {
  list-style: none;
}

.detalle ul li {
  color: rgba(128, 128, 128, 0.55);
}

.detalle .basico {
  /*   color: #ff0000; */
  font-weight: bold;
  color: black;
}



.detalle .basico::before {
  content: "\2714";

}

.detalle .estandar {
  /*   color: #ff0000; */
  font-weight: bold;
  color: black;
}

.detalle .estandar::before {
  content: "\2714";

}

.detalle .premium {
  /*   color: #ff0000; */
  font-weight: bold;
  color: black;
}

.detalle .premium::before {
  content: "\2714";

}

@media screen and (max-width: 600px) {

  .planes{
    flex-direction: column;
  }
  
}

/* fin Planes */



/* inicio Contacto */

.contacto {
  display: flex;
  justify-content: center;
}

.formulario {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 75%;
  background-color: white;
}

.form div input,
textarea {
  resize: none;
  width: 125%;
  border: 1px solid black;
  border-radius: 10px;
}

.medios ul li{
  list-style: none;
}

.medios ul li::before{
  content: "\2714";
}

.imagenRedes{
  position: relative;
  left: 50px;
}
.imagenRedes img{
  border-radius: 50%;
}

/* .form div input[type="submit"] {
  width: auto;
  border-radius: 0;
  background-color: #009005;
} */

/* .form div input[type="submit"]:hover {
  width: auto;
  border-radius: 0;
  background-color: #005503;
} */

@media screen and (max-width:600px) {


  header .holder{
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .holder img{
    max-width: none;
    width: 200px;
  }

  .holder h1{
    text-align: center;
  }

  .formulario {
    flex-direction: column;
    width: 100%;
  }

  .form div input,
textarea {
  width: 100%;
}

.imagenRedes{
  position: static;
  display: flex;
  justify-content: center;
}

.imagenRedes img{
  width: 75%;
}



  
}

/* fin Contacto */

/* Login Css */

header {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #727bff;
}

header div {
  border-bottom: 5px solid black;
}

.holder {
  margin: 20px;
  max-width: 960px;
}

header img {
  max-width: 100px;
  border-radius: 25%;
  padding: 10px;
}

header h1 {
  font-size: 50px;
  display: inline-block;
}

header h6 {
  font-size: 25px;
  font-style: italic;
}

nav {
  background-color: white;
  /* 
  margin-bottom: 20px; */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgba(41, 47, 255, 0.8);
  color: white;
}

nav ul li a.activo {
  background-color: rgba(41, 47, 255, 0.8);
  color: white;
}

main {
  padding: 20px;
  background-color: #727bff;
}

.contenedor {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.contenedor h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  font-style: italic;
}

.form-control {
  border: 2px solid black;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  padding: 50px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #727bff;
}


/* Fin Login Css */

